
obj/TemperateMod.csproj.nuget.g.props
obj/TemperateMod.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net45/TemperateMod.pdb
obj/Debug/net45/TemperateMod.dll
obj/Debug/net45/TemperateMod.csprojAssemblyReference.cache
obj/Debug/net45/TemperateMod.csproj.FileListAbsolute.txt
obj/Debug/net45/TemperateMod.csproj.CoreCompileInputs.cache
obj/Debug/net45/TemperateMod.csproj.CopyComplete
obj/Debug/net45/TemperateMod.assets.cache
obj/Debug/net45/TemperateMod.AssemblyInfoInputs.cache
Items/ThinIceWand.cs
Items/Ammo/ValkyrieArrow.png
Items/Ammo/ValkyrieArrow.cs
bin/Debug/net45/tModLoader.xml
bin/Debug/net45/tModLoader.pdb
bin/Debug/net45/tModLoader.exe
bin/Debug/net45/TerrariaHooks.dll
bin/Debug/net45/TemperateMod.pdb
bin/Debug/net45/TemperateMod.dll
bin/Debug/net45/System.ValueTuple.dll
bin/Debug/net45/Steamworks.NET.dll
bin/Debug/net45/ReLogic.dll
bin/Debug/net45/NVorbis.dll
bin/Debug/net45/Newtonsoft.Json.dll
bin/Debug/net45/MP3Sharp.dll
bin/Debug/net45/MonoMod.Utils.xml
bin/Debug/net45/MonoMod.Utils.dll
bin/Debug/net45/MonoMod.RuntimeDetour.xml
bin/Debug/net45/MonoMod.RuntimeDetour.dll
bin/Debug/net45/Mono.Cecil.Pdb.dll
bin/Debug/net45/Mono.Cecil.Mdb.dll
bin/Debug/net45/Mono.Cecil.dll
bin/Debug/net45/Microsoft.Xna.Framework.Xact.dll
bin/Debug/net45/Microsoft.Xna.Framework.Graphics.dll
bin/Debug/net45/Microsoft.Xna.Framework.Game.dll
bin/Debug/net45/Microsoft.Xna.Framework.dll
bin/Debug/net45/log4net.dll
bin/Debug/net45/Ionic.Zip.Reduced.dll
.vs/TemperateSolution/v16/.suo
obj/TemperateMod.csproj.nuget.g.props
obj/Debug/net45/TemperateMod.csproj.CoreCompileInputs.cache
obj/Debug/net45/TemperateMod.csprojAssemblyReference.cache
obj/project.assets.json
TemperateSolution.sln
obj/Debug/net45/TemperateMod.csprojAssemblyReference.cache
.vs/TemperateMod/DesignTimeBuild/.dtbcache.v2
